@import url(projects.css);
@import url(resume.css);


@font-face {
    font-family: "Cintzel-Bold";
    src: url(../fonts/Cinzel-Bold.ttf);
}

@font-face {
    font-family: "Cintzel-Regular";
    src: url(../fonts/Cinzel-Regular.ttf);
}

@font-face {
    font-family: "FaunaOne";
    src: url(../fonts/FaunaOne-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* border: 1px solid blue; */
}

nav {
    background-color: rgba(32, 32, 32, 0);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 2em;;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    overflow: hidden;
}

body {
    font-family: "FaunaOne";
    color: rgb(245, 239, 230);
    font-size: 16px;
}

h1 {
    font-family: "Cinzel-Bold";
    font-size: 64px;
}

h2 {
    font-family: "Cinzel-Regular";
    font-size: 52px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

footer {
    background-color: rgb(32, 32, 32);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#main_content {
    display: flex;
    justify-content: center;
    background: linear-gradient(-45deg, #2f1e5a, #651480, #1f45c2, #19b28e);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#hero-section {
    height: 900px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#hero-welcome {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    padding: 2em;
    border-radius: 5px;
    background-color: rgba(55, 34, 177, 0.808);
    transition: 0.3s;
}

#projects {
    padding: 2em 5em;
    width: 60%;
    background-color: rgba(19, 19, 19, 0.85);
}

#project_links {
    display: flex;
    align-items: center;
    margin-top: 2em;
    height: 75px;
    background-color: rgba(19, 19, 19, 0.85);
    border-radius: 5px;
}

.text_align {
    text-align: center;
}

.project_link {
    font-size: 12px;
    margin: 0px 15px;
    padding: 10px;
}

.project_link:hover {
    border-bottom: 3px solid #e44ed7;
    border-radius: 3px;
    background-color: rgba(54, 52, 52, 0.85);
    transition: 0.2s;
}

.spacer {
    height: 35px;
}