@import url(projects.css);
@import url(resume.css);

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* border: 1px solid blue; */
}

nav {
    position: fixed;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
}

body {
    font-family: "Archivo", sans-serif;
    color: rgb(245, 239, 230);
    font-size: 16px;
    background-image: url("https://blz-contentstack-images.akamaized.net/v3/assets/blta8f9a8e092360c6c/blt7c50d5be83c2a253/61df4315819be248ba631457/2600_Featured_Games.webp?format=webply&amp;quality=80&amp;auto=webp");
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

footer {
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 4em;
    font-size: 16px;
}

#main_content {
    padding: 5em 10em;
    overflow: hidden;
}

#hero-section {
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 8px 8px 24px #272527b0;
}

#hero-video {
    min-width: 100%;
    min-height: 100%;
}

#khd-twitter-x {
    font-size: 16px;
    background-color: rgba(102, 101, 101, 0.479);
}

#menu_links {
    position: relative;
    margin: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #3c394dda;
    backdrop-filter: blur(20px);
}

.contact_me {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0px 5px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.fa {
    padding: 15px;
    border-radius: 30px;
    font-size: 30px;
    margin: 0px 5px;
    text-align: center;
    background-color: rgba(102, 101, 101, 0.479);

  }
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
  

.menu_link {
    font-size: 16px;
    margin: 0px 15px;
    text-align: center;
    padding: 20px;
}

.menu_link:hover {
    border-radius: 3px;
    background-color: rgba(102, 101, 101, 0.479);
    transition: 0.1s;
}

.social_media_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    height: 35px;
}

.text_align {
    text-align: center;
}

.welcome_section {
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 19, 19, 0.85);
    margin: 4em 5px;
    padding: 2em;
    border-radius: 5px;
    transition: 0.3s;
}

.welcome_section:hover {
    border: 1px solid rgba(69, 223, 243, 0.85);
    background-color: rgba(54, 52, 52, 0.85);
    transition: 0.3s;
}