@import url(projects.css);
@import url(resume.css);

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);
}

body {
    background-image: linear-gradient(
        #4078c0, #e44ed7
    );
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 239, 230);
}

footer {
    background-color: rgb(32, 32, 32);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

nav {
    background-color: rgb(32, 32, 32);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_content {
    padding: 2em 2em;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(19, 19, 19);
}

.text_align {
    text-align: center;
}
