#projects {
    position: relative;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.project_div {
    /* display: flex;
    justify-content: space-between; */
    /* margin: 4em 5px; */
    /* padding: 2em; */
    border-radius: 5px;
}

/* .project_div:hover {
    border: 1px solid rgba(69, 223, 243, 0.85);
    background-color: rgba(54, 52, 52, 0.85);
    transition: 0.3s;
    scale: 1.05;
} */

.project_title {
    margin-top: 20px;
}


.project_desc {
    margin-right: 20px;
    width: 50%;
    text-wrap: wrap;
}

.project_vid {
    margin-left: 0px;
    transition: 0.3s;
}

.project_vid:hover {
    /* border: 1px solid rgba(69, 223, 243, 0.85);
    background-color: rgba(54, 52, 52, 0.85); */
    transition: 0.3s;
    scale: 1.05;
}

iframe {
    border-radius: 5px;
}